/* This is the start of my css. */

body {
background-color: #fd5da8;
font-family: 'Oxygen', sans-serif;
font-size: 16px;
font-weight: 300;
margin: 0;
}
/* This is the header area. */

header {
    background-color: #ffd1df;
    padding: 1rem 2vw; 
}

header span {
    margin: 0;
    color: rgb(219, 77, 153);
    font-weight: 700;
    font-size: 1.8rem;
}

/* This is the navigation area. */

nav {
background-color: #3d2920;
}

nav ul{
list-style-type: none;
padding: 10px 2vw;
margin: 0;
display: flex;
}

nav a {
font-size: 1.2rem;
text-decoration: none;
color: #ffd1df;
font-weight: 700;
display: block;
padding: .8rem 2rem;
}

nav li.active a {
    background-color:rgb(219, 77, 153);
    color: #ffd1df;
}

nav a:hover {
    color: white;
}

/* This is the main area. */

main {
    padding: 1rem 2vw;
}

main h1 {
    color: #ffd1df;
}

main h2 {
    color: #3d2920;
    margin-bottom: .2rem;
}

main p{
    color: #333333;
    margin: 0;
}

main ol {
    padding: .5rem 30px;
    background-color: rgb(219, 77, 153);
    list-style-type: lower-alpha;
}

main dl dt{
color: #3d2920;
font-weight: 700;
}

main dl dd{
    color: #ffd1df;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type:circle;
}

main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style:normal;
    background-color:rgb(219, 77, 153);
    padding: .5rem;
    width: 12.5rem;
    border: 2px solid #3d2920;
    border-radius: .3rem;
}

/* This is the footer area. */

footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
}